.card {
    margin-bottom: 3em;

    .img {
        margin-bottom: 1em;
    }

    h2 {
        margin-bottom: 1em;
    }
    
    a, p {
        color: black;
        font-size: 1.2rem;
        text-decoration: none;
    }

    a {
        font-weight: 600;
    }

}